# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Poetry
.venv
poetry.lock

# Environment
.env
.venv/
env/
venv/
ENV/

# Local Storage
chroma_db/
uploads/

# Prisma
schema.prisma.backup
